* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  /* cursor: none; */
}

.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000;
}

.cursor.outer {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #fff;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor.inner {
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: #fff;
  opacity: 1;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
}